PORT=3020
API_PORT=3021
DATABASE_URL=postgresql://user:password@db:5432/ylt_tracker?schema=public
PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium
PHANTOMAS_CHROMIUM_EXECUTABLE=/usr/local/bin/chromium-no-sandbox
